@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #4f46e5; /* Sesuaikan dengan warna Tailwind CSS */
  height: 4px;
  z-index: 50;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  border: 0px solid #f1f1f1;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: none;
  border-radius: 99px;
  padding: -2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* .background {
  position: absolute;
  top: 0;
  left: 20rem;
  bottom: 0;
  width: 200px;
  background: #023E8A;
}


.btn {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 25rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  left: 23rem;
  width: 230px;
} */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
